<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"      
      >

  <extensions>
    <add assembly="NLog.Targets.Network"/>
  </extensions>

  <targets>
    <target xsi:type="File" name="allFile"
            fileName="${basedir}/_log/XTG-${date:format=yyyyMMdd}.log"
            layout="${time} | ${level:uppercase=true} | [${logger}] ${message}"
            encoding="utf-8"
            deleteOldFileOnStartup="true"
            keepFileOpen="false" />
      
    <target xsi:type="Console" name="logconsole" 
            layout="${time} | ${level:uppercase=true} | ${message}" />
      
    <target xsi:type="Network" name="network" 
            address="tcp://127.0.0.1:878" 
            newLine="true">
      <layout xsi:type="Log4JXmlLayout" />
    </target>


	  <target xsi:type="Network" name="network_json"
            address="tcp://127.0.0.1:878"
            newLine="true">		  
	  </target>
	  
  </targets>

  <rules>
    <!--<logger name="*" minlevel="Info" writeTo="logconsole,allFile,network" />-->
	<logger name="*" minlevel="trace" writeTo="allFile,network" />
  </rules>
</nlog>